.button,
button {
  align-content: center;
  align-items: center;
  background-color: $primary-color;
  border: none;
  border-radius: $border-radius;
  box-shadow: $elevation-0;
  color: $background-color;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-size: 1.1em;
  line-height: 1em;
  max-width: max-content;
  padding: ($spacing / 2) $spacing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-family: $font-family, sans-serif;
  transition:
    transform ($animation-duration * 2) ease,
    background-color $animation-duration ease,
    box-shadow $animation-duration ease;
  gap: $spacing / 2;

  &:hover,
  &:focus {
    background-color: $primary-color-light;
    box-shadow: $elevation-1;
    color: $background-color;
    transform: translateY(-2px);
  }

  &:active {
    background-color: $primary-color-dark;
    box-shadow: $elevation-2;
  }

  &:disabled {
    box-shadow: none;
    color: $background-color-light-1;
    background-color: $background-color-light-3;
    cursor: unset;
    pointer-events: none;

    .icon {
      svg {
        fill: $background-color-light-1;
      }
    }
  }

  .icon {
    width: $icon-size * 1.5;
    height: $icon-size * 1.5;
    transform: translate(0, -1px); // Align with text?
    svg {
      fill: $background-color;
    }
  }

  .text {
    display: inline-block;
  }
}
