code,
pre,
.highlight {
  font-family: $font-family-code, monospace;
  color: $code-foreground-color;
}

pre {
  code {
    font-size: 0.8em;
  }
}

code {
  background-color: $code-background-color;
  padding: 3px 6px;
  border-radius: $border-radius * 0.75;
  font-size: 0.8em;
}

pre {
  background-color: $code-background-color;
  border-radius: $border-radius;
  font-size: 0.8em;
  margin: 1em auto 1.5rem auto;
  max-width: 900px;
  padding: ($spacing / 2) $spacing;
  overflow-x: auto;
}

.highlight {
  border-radius: $border-radius;
  margin: 1em auto 1.5rem auto;
  max-width: 900px;
  font-size: 0.8em;
  border: 1px solid $background-color-dark-2;

  code,
  pre {
    padding: unset;
    font-size: unset;
    box-shadow: unset;
    margin: unset;
    max-width: unset;
    overflow-x: auto;
  }

  * {
    text-align: left;
    background-color: $code-background-color !important;
    border-radius: $border-radius;
  }

  & > div {
    padding: $spacing / 2;
  }
}
