html {
  scrollbar-width: thin;
  height: 100%;
}

body {
  background-color: $background-color;
  color: $text-color;
  font-family: $font-family, sans-serif;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content {
  flex: 1 0 auto;
  margin-top: calc(48px + 3rem);
  margin-bottom: calc(48px + 3rem);
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 30px;
}

#content {
  .single {
    /* margin-top: 60px; */
    background-color: $background-color-light-1;
    border-radius: $border-radius * 2;
    box-shadow: $elevation-1;
    overflow: hidden;

    article {
      padding: 30px 60px;
    }

    img.article-cover {
      object-fit: cover;
      display: block;
      height: 300px;
      overflow: hidden;
      max-height: 300px;
      width: 100%;
      min-height: 300px;
    }
  }
}

.meta {
  display: flex;
  gap: $spacing;
  flex-direction: row;
  align-content: center;
  align-items: center;

  .caption {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    gap: $spacing / 2;

    .icon {
      width: $icon-size * 1.5;
      height: $icon-size * 1.5;
    }
  }
}
