footer {
  width: 100%;
  background-color: $background-color-dark-2;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  min-height: 60px;
  overflow: hidden;
  position: relative;
  color: $text-color-caption;

  &::before {
    content: ' ';
    user-select: none;
    position: absolute;
    width: calc(120% + 40px);
    height: 100%;
    margin-left: -$spacing;
    left: 0px;
    pointer-events: none;
    box-shadow: $elevation-1 inset;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: ($spacing / 2) auto;
    width: 100%;
  }

  .copyright {
    margin: $spacing 0;
  }
}
