form {
  max-width: 60%;
  margin: 32px auto 32px auto;
  font-weight: $font-weight;

  label {
    display: inline-block;
    max-width: 80px;
    min-width: 80px;
    text-align: right;
    padding: $spacing / 2;
    margin-right: $spacing / 2;
  }

  textarea,
  input[type='text'],
  input[type='email'] {
    background-color: $background-color-dark-2;
    border: 1px solid $background-color-light-3;
    border-radius: $border-radius;
    color: $text-color;
    font-family: inherit;
    font-size: inherit;
    padding: $spacing / 2;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.95) inset;
    flex-grow: 1;
    transition:
      background-color $animation-duration ease,
      border-color $animation-duration ease,
      color $animation-duration ease;
    width: calc(80% - $spacing);
  }

  textarea {
    height: 6em;
    max-width: calc(100% - 80px - ($spacing / 2));
    min-height: calc(8rem);
    scrollbar-width: thin;
  }

  textarea::placeholder,
  input[type='text']::placeholder,
  input[type='email']::placeholder {
    color: $text-color-caption;
    font-family: inherit;
    font-size: inherit;
    font-weight: $font-weight;
  }

  textarea:hover,
  input[type='text']:hover,
  input[type='email']:hover {
    border-color: $text-color-caption;
  }

  textarea:focus,
  input[type='text']:focus,
  input[type='email']:focus {
    border-color: $primary-color-light;
    background-color: $background-color;
  }

  &.submitted textarea:invalid,
  &.submitted input[type='text']:invalid,
  &.submitted input[type='email']:invalid {
    border-color: #eb5c4a;
  }

  &.submitted textarea:invalid:hover:not(:focus),
  &.submitted input[type='text']:invalid:hover:not(:focus),
  &.submitted input[type='email']:invalid:hover:not(:focus) {
    border-color: #ff8373;
  }

  textarea:disabled,
  input[type='text']:disabled,
  input[type='email']:disabled {
    border-color: $background-color-light-1;
    opacity: 0.3;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) inset;
  }

  textarea:disabled::placeholder,
  input[type='text']:disabled::placeholder,
  input[type='email']:disabled::placeholder {
    color: transparent;
  }

  .group {
    margin-bottom: $spacing;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  button[type='submit'] {
    margin-left: auto;
    margin-top: $spacing * 2;
  }

  label[for='message-input'] {
    align-self: flex-start;
    margin-top: -1px;
  }

  label:disabled {
    opacity: 0.5;
  }

  &.hidden {
    display: none;
  }

  &.success button[type='submit'],
  &.success .group {
    display: none;
  }

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-25%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  .feedback {
    border-radius: $border-radius;
    padding: $spacing ($spacing * 1.5);
    font-weight: $font-weight-highlight;
    color: #ffffff;
    box-shadow: $elevation-0;
    display: flex;
    align-items: center;
    animation: 0.5s ease-in-out 0s 1 slideInFromLeft;

    &.success {
      background-color: #2a8d6c;
    }

    &.error {
      background-color: #eb5c4a;
    }

    .text {
      flex-grow: 1;
    }

    .icon {
      margin-right: $spacing;
      color: $link;
    }
  }

  /* a.button:disabled, button:disabled {
	box-shadow: initial;
	color: initial;
	background-color: initial;
}
a.button:disabled div.icon svg, button:disabled div.icon svg {
	fill: unset;
} */
  .hidden {
    display: none;
  }
}
