header {
  background-color: $background-color-light-1;
  box-shadow: $elevation-1;
  min-height: 48px;
  height: 48px;
  max-height: 48px;
  position: fixed;
  top: 0;
  width: 100%;
  line-height: unset;
  z-index: 99;

  & > div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 100%;
  }

  .avatar {
    margin-right: $spacing;
    line-height: unset;
    height: $icon-size * 2;
    width: $icon-size * 2;
    min-width: $icon-size * 2;
    max-height: $icon-size * 2;

    img {
      height: 100%;
      width: auto;
      margin: auto;
      border-radius: 50%;
      transition:
        filter $animation-duration ease,
        box-shadow $animation-duration ease;
    }

    &:hover,
    &:focus {
      img {
        filter: brightness(115%);
        box-shadow: $elevation-1;
      }
    }
    &:active {
      img {
        filter: brightness(125%);
        box-shadow: $elevation-0;
      }
    }
  }

  .title {
    font-size: 1.5em;
    font-weight: $font-weight-title;
    margin-right: $spacing;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block ruby;
  }

  nav {
    flex-grow: 1;
    height: 100%;

    ul {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      justify-content: flex-end;
      margin: unset;
      padding: unset;

      li {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: unset;
        padding: unset;
        list-style: none;
        align-items: center;
        font-weight: $font-weight;
        font-size: 1.125em;
        margin-right: 32px;
        min-width: 64px;
        text-align: center;

        &.home {
          display: none;
        }

        &:last-child {
          margin-right: 0;
        }

        a {
          background-color: rgba(255, 255, 255, 0);
          font-weight: inherit;
          font-size: inherit;
          text-align: inherit;
          display: flex;
          min-width: 100%;
          min-height: 100%;
          border-style: solid;
          border-width: 0 0 4px 0;
          border-color: transparentize($primary-color, 1);
          padding: 0 ($spacing / 2);
          align-content: center;
          align-items: center;
          justify-content: center;
          user-select: none;
          color: $link;
          transition:
            color 0s,
            border 0s;

          &.current {
            border-color: $primary-color;
          }
          &:hover,
          &:focus {
            background-color: rgba(255, 255, 255, 0.05);
            transition: background-color $animation-duration ease;
          }
          &:active {
            background-color: rgba(255, 255, 255, 0.075);
            transition: background-color $animation-duration ease;
          }
        }
      }
    }
  }

  input.menu-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: none;
    pointer-events: none;

    &:checked + label.menu-show {
      border-color: $text-color-caption;
      color: $text-color-caption;

      &:hover,
      &:focus {
        background-color: rgba(255, 255, 255, 0.05);
        border-color: $link-hover;
        color: $link-hover;
      }

      &:active {
        background-color: rgba(255, 255, 255, 0.075);
        border-color: $link-active;
        color: $link-active;
      }
    }
  }

  label.menu-show {
    color: $link;
    border: 1px solid $text-color-caption;
    padding: ($spacing / 2) $spacing;
    border-radius: $border-radius;
    display: none;
    width: max-content;
    height: max-content;
    user-select: none;
    cursor: pointer;
    transition:
      background-color $animation-duration ease,
      border-color $animation-duration ease,
      color $animation-duration ease;

    &:hover,
    &:focus {
      background-color: rgba(255, 255, 255, 0.05);
      border-color: $link-hover;
      color: $link-hover;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.075);
      border-color: $link-active;
      color: $link-active;
    }
  }

  label.menu-close {
    width: 100%;
    padding: ($spacing * 2) ($spacing / 2);
    margin: 0;
    color: $text-color-caption;
    font-weight: $font-weight;
    font-size: 1.125em;
    min-width: 64px;
    text-align: center;
    cursor: pointer;
    display: none;
    transition:
      background-color $animation-duration ease,
      border-color $animation-duration ease,
      color $animation-duration ease;
    user-select: none;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      border-color: $link-hover;
      color: $link-hover;
    }

    &:active {
      background-color: rgba(255, 255, 255, 0.075);
      border-color: $link-active;
      color: $link-active;
    }
  }
}
