article {
  img,
  video {
    max-width: 100%;
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: $spacing * 2;
    margin-bottom: $spacing * 2;
    border-radius: $border-radius / 1.5;
  }
}

a.responsive-img {
  min-width: 200px;
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: filter $animation-duration ease;

  &:hover img {
    filter: brightness(110%);
  }
}
