ul,
ol {
  margin-bottom: 1em;
  margin-left: 1em;

  li {
    margin-bottom: 0.5em;
    margin-left: 1em;

    &::marker {
      color: $text-color-caption;
    }
  }
}

ul {
  list-style: disc outside none;
}

ol {
  list-style: decimal outside none;
}
