:root {
  color-scheme: dark;
}

:focus {
  outline: none;

  &:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid $primary-color;
  }
}

::selection {
  color: $background-color;
  background-color: $primary-color-light;
}
