/* Tables */
table {
  border-collapse: collapse;
  margin: 1.5rem auto;
  max-width: 100%;
  table-layout: fixed;
  word-break: break-all;
  overflow-wrap: anywhere;

  th {
    font-weight: bold;
    color: $text-color;
    background-color: $table-header-color;
  }

  td,
  th {
    vertical-align: top;
    word-wrap: break-word;
    padding: 0.5rem 1.5em;
    border: 1px solid $table-border-color;
    word-break: normal;
  }

  tr:nth-child(even) {
    background-color: $table-alternate-row-color;
  }
}
