/* Links */
a {
  color: $link;
  text-decoration: none;
  font-weight: $font-weight-highlight;
  transition: color $animation-duration ease;

  &:hover,
  &:focus {
    color: $link-hover;
  }
  &:active {
    color: $primary-color-dark;
  }
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-color-title;
  margin-bottom: 1em;
  margin-top: 1.5em;
  line-height: 1.25em;
}
h1 {
  font-size: 2.5em;
  font-weight: $font-weight-title;
}
h2 {
  font-size: 2em;
  font-weight: $font-weight-title;
}
h3 {
  font-size: 1.5em;
  font-weight: $font-weight-title;
}
h4 {
  font-size: 1.1em;
  font-weight: $font-weight-title;
}
h5 {
  font-size: 1em;
  font-weight: $font-weight-title;
}
h6 {
  font-size: 0.875em;
  font-weight: $font-weight-title;
}
strong {
  font-weight: bold;
}
h1 code,
h2 code,
h3 code,
h4 code,
h5 code,
h6 code {
  padding: unset;
  background-color: unset;
  font-size: 0.9em;
  color: inherit;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  font-weight: inherit;
  color: inherit;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
h1 a:focus,
h2 a:focus,
h3 a:focus,
h4 a:focus,
h5 a:focus,
h6 a:focus {
  color: $primary-color-light;
}

h1 a:active,
h2 a:active,
h3 a:active,
h4 a:active,
h5 a:active,
h6 a:active {
  color: $primary-color-dark;
}

article {
  h1:first-of-type {
    margin-top: 0;
    margin-bottom: 0.25em;
  }

  p {
    text-align: justify;
    &:first-of-type {
      margin-top: 2em;
    }
  }
}

/* Paragraph */
p {
  margin-top: 0;
  margin-bottom: 0.5em;
}

/* Captions */
.caption {
  color: $text-color-caption;
  margin-bottom: 0.5em;
}

/* Keyboard shortcuts */
kbd {
  background: $background-color-light-3;
  border: 1px solid $background-color;
  border-bottom-width: 3px;
  border-radius: $border-radius / 1.5;
  color: $text-color;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  font-family: $font-family;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 1em;
  min-width: 1.5em;
  padding: 2px 4px 2px 4px;
  text-align: center;
  vertical-align: text-top;
  transform: translate(0, -3px);
}

/* Quotes */
blockquote {
  background-color: $background-color-light-3;
  border-left: 4px solid $text-color-caption;
  font-style: italic;
  margin: 1.5rem auto 2rem auto;
  max-width: 900px;
  padding: 0.5rem 1em;
}
