{{- $icon := .icon | safeHTML -}}
{{- $text := .text | safeHTML -}}
{{- $href := .href | safeHTML -}}
{{- $align := .align | safeHTML -}}
{{- $tooltip := .tooltip | safeHTML -}}
{{- $class := .class | safeHTML -}}
{{- if eq $align "right" -}}
  <a href="{{ $href }}" title="{{- $tooltip -}}" class="button right {{ $class -}}"
    ><div class="text">{{- $text -}}</div>
    {{- partial "components/icon" $icon -}}</a
  >
{{- else -}}
  <a href="{{ $href }}" class="button {{ $class -}}"
    >{{- partial "components/icon" $icon -}}
    <div class="text">{{- $text -}}</div></a
  >
{{- end -}}
