<a class="card" href="{{- .Permalink -}}">
  <div class="card-image">
    {{- partial "components/image" (dict
      "path" .Params.Thumbnail
      "page" .
      "fit" "720x480 jpg q75 Lanczos Smart"
      )
    -}}
  </div>

  <div class="card-content">
    <div class="title">{{- .Title | safeHTML -}}</div>
    <div class="date">
      {{- partial "components/icon" "calendar" -}}
      {{- .Date.Format "02/01/2006" -}}
    </div>
    <div class="description">{{- .Description | safeHTML -}}</div>
    {{- if .Params.Tags -}}
      {{- partial "components/tag-list" (dict
        "tags"      (.GetTerms "tags")
        "useLinks"  false
        )
      -}}
    {{- end -}}
  </div>
</a>
