<div class="hero">
  {{- partial "components/image" (dict "path" $.Site.Params.Avatar "fit" "300x300 jpg q50 Lanczos Smart" "cssClass" "avatar") -}}
  {{- with $.Site.Title -}}<div class="title">{{- . -}}</div>{{- end -}}
  {{- with $.Site.Params.Location -}}<div class="location">{{- . -}}</div>{{- end -}}
  <hr />
  {{- with $.Site.Params.Preamble -}}<div class="preamble">{{- readFile . | markdownify -}}</div>{{- end -}}

  {{- with $.Site.Params.resume -}}
    {{- $resumePath := . -}}
    {{- $base := strings.TrimSuffix "/" $.Site.BaseURL -}}
    {{- if hasPrefix $resumePath "/" -}}
      {{- $resumePath = substr $resumePath 1 -}}
    {{- end -}}
    {{- $url := print $base "/" $resumePath -}}
    {{- partial "components/button" (dict
      "icon" "resume"
      "text" "Download Resume/CV"
      "href" $url
      "class" "resumeButton"
      "align" "left")
    -}}
  {{- end -}}

  {{- partial "components/social-networks" . -}}
</div>
