<div class="home-section">
  <h1><a href="{{- .Permalink -}}">{{- .Title -}}</a></h1>
  {{- partial "components/card-list" (dict "pages" .Pages "max" 3) -}}
  {{- partial "components/button" (dict "icon" "next" "text" "More" "href" .Permalink "align" "right") -}}
</div>
