{{- $icon := .icon | safeHTML -}}
{{- $href := .href | safeHTML -}}
{{- $tooltip := .tooltip | safeHTML -}}
{{- $rel := .rel | safeHTML -}}
{{- $text := .text | safeHTML -}}
<a href="{{- $href -}}" title="{{- $tooltip -}}" class="icon-button" rel="{{- $rel -}}">
  {{- partial "components/icon" $icon -}}
  {{- with $text -}}
    <div>{{- . -}}</div>
  {{- end -}}
</a>
