{{- $path := .path -}}
{{- $cssClass := .cssClass -}}
{{- $fit := .fit -}}
{{- $page := .page -}}

{{- if $path -}}
  {{- $staticFile := print "static" $path -}}
  {{- if fileExists $staticFile -}}
    <img src="{{- $path -}}" class="{{- $cssClass -}}" />
  {{- else -}}
    {{- $resource := resources.Get $path -}}

    {{- if and $page (not $resource) -}}
      {{- $resource = $page.Resources.GetMatch $path -}}
    {{- end -}}

    {{- if $resource -}}
      {{- $resizedImage := $resource.Fit $fit -}}
      <img src="{{- $resizedImage.Permalink -}}" class="{{- $cssClass -}}" />
    {{- else -}}
      <img src="/img/fallback.png" class="{{- $cssClass -}}" />
    {{- end -}}
  {{- end -}}
{{- else -}}
  <img src="/img/fallback.png" class="{{- $cssClass -}}" />
{{- end -}}
