{{- $isCurrent := eq .CurrentPage.Permalink .Page.Permalink -}}
{{- $isChild := and (hasPrefix .CurrentPage.Permalink .Page.Permalink) (not .Page.IsHome) -}}
{{- $linkCssClass := cond (or $isCurrent $isChild) "current" "" -}}
{{- $listItemCssClass := cond (eq .Page.IsHome true) "home" "" -}}
{{- $label := cond (eq .Page.IsHome true) "Home" .Page.Title -}}
<li class="{{- $listItemCssClass -}}">
  <a class="{{- $linkCssClass -}}" href="{{- .Page.Permalink -}}">{{- $label -}}</a>
</li>
