<nav>
  <input type="checkbox" class="menu-checkbox" id="menu-checkbox" /><label for="menu-checkbox" class="menu-show">&equiv;&nbsp;&nbsp;Menu</label>
  <ul>
    <label for="menu-checkbox" class="menu-close">&#x2327;&nbsp;&nbsp;Close</label>
    {{ partial "components/navbar-link" (dict "CurrentPage" $.Page "Page" $.Site.Home) }}

    {{ range .Site.Menus.main.ByWeight }}
      {{- $page := site.GetPage .URL -}}
      {{ partial "components/navbar-link" (dict "CurrentPage" $.Page "Page" $page) }}
    {{- end -}}

    {{- range $.Site.RegularPages -}}
      {{- if or (eq .File.Dir "/") (eq .File.Dir "\\") -}}
        {{- $base := strings.TrimSuffix "/" $.Site.BaseURL -}}
        {{- $isContactPage := eq .Permalink (print  $base "/contact/") -}}
        {{- if not $isContactPage -}}
          {{ partial "components/navbar-link" (dict "CurrentPage" $.Page "Page" .) }}
        {{- end -}}
      {{- end -}}
    {{- end -}}

    {{- with .Site.GetPage "/contact" -}}
      {{- partial "components/navbar-link" (dict "CurrentPage" $.Page "Page" .) -}}
    {{- end -}}
  </ul>
</nav>
