{{- $tags := .tags -}}
{{- $useLinks := .useLinks -}}
<ul class="tags">
  {{- range $tags -}}
    <li>
      {{- if $useLinks -}}
        <a class="tag" href="{{ .Permalink }}">
          {{- partial "components/icon" "tag" -}}
          {{- .LinkTitle -}}
        </a>
      {{- else -}}
        <div class="tag">
          {{- partial "components/icon" "tag" -}}
          {{- .LinkTitle -}}
        </div>
      {{- end -}}
    </li>
  {{- end -}}
</ul>
