.home-section {
  width: 100%;
  margin-bottom: 40px;

  & > .button {
    margin-left: auto;
  }
}

.cover {
  align-content: center;
  align-items: center;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  min-height: 100vh;
  margin-top: calc(-2 * 48px);
  margin-bottom: 80px;
  box-shadow: $elevation-2;
}
