{{- define "main" -}}
  <div class="container">
    <div class="single">
      {{- partial "components/image" (dict
        "path" .Params.Thumbnail
        "page" .
        "fit" "1100x1100 jpg q90 Lanczos Smart"
        "cssClass" "article-cover"
        )
      -}}
      <article>
        <h1>{{- .Title -}}</h1>
        <section class="meta">
          {{- with .Date -}}<div class="caption">{{- partial "components/icon" "calendar" -}}{{- .Format "02/01/2006" -}}</div>{{- end -}}

          {{- if .Params.Tags -}}
            {{- partial "components/tag-list" (dict
              "tags"      (.GetTerms "tags")
              "useLinks"  true
              )
            -}}
          {{- end -}}

        </section>

        {{- .Content -}}
      </article>
    </div>
  </div>
{{- end -}}
