/* bold */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}
/* bold italic */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-BoldItalic.woff2') format('woff2');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

/* normal */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* normal italic */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-Italic.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

/* light */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
/* light italic */
@font-face {
	font-family: 'Fira Sans';
	src: url('../fonts/subset-FiraSans-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

/* code */
@font-face {
	font-family: 'Fira Code';
	src: url('../fonts/subset-FiraCode-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
/* code bold */
@font-face {
	font-family: 'Fira Code';
	src: url('../fonts/subset-FiraCode-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
