@media (max-width: 1024px) {
  .noScroll {
    overflow-y: hidden;
  }

  header label.menu-show,
  header input.menu-checkbox {
    display: block;
  }
  header nav {
    height: unset;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  header nav ul {
    display: none;
    align-items: flex-start;
    align-content: flex-start;
  }
  header nav ul li {
    min-height: unset;
    width: 100%;
    min-width: 100%;
    margin: 0;
    height: unset;
  }
  header nav ul li.home {
    display: unset;
  }
  header label.menu-close {
    display: block;
  }
  header nav ul li a {
    width: 100%;
    padding: 32px 8px;
    border-width: 0 0 0 4px;
  }
  header nav input.menu-checkbox:checked ~ ul {
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    pointer-events: all;
    position: absolute;
    flex-direction: column;
    width: unset;
    max-width: 100vw;
    flex-basis: 100%;
    height: 100vh;
    justify-content: flex-start;
    background-color: $background-color-dark-2;
  }

  #content {
    margin-top: calc(48px + 1rem);
  }

  #content article {
    padding: $spacing;
  }

  #content .single article {
    padding: 20px 40px;
  }

  .card-list .card {
    max-width: calc(50% - $spacing);
    min-width: calc(50% - $spacing);
  }
  .card-list .card:nth-child(2n) {
    margin-right: 0;
  }

  form {
    max-width: 70%;
  }
  form .group {
    flex-direction: column;
  }
  form label {
    text-align: left;
    width: 100%;
    max-width: unset;
    min-width: unset;
    margin-right: 0;
  }
  form textarea,
  form input[type='text'],
  form input[type='email'] {
    width: 100%;
  }
  form textarea {
    min-width: 100%;
    max-width: 100%;
  }
  form label[for='message-input'] {
    margin-top: unset;
  }
  form button[type='submit'] {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  #content .single article {
    padding: 10px 20px;
  }

  footer .container {
    flex-direction: column;
    text-align: center;
  }

  div.heroContainer {
    padding-top: 64px;
  }

  .container {
    padding: 0 $spacing;
  }

  .card-list .card {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
  }
  .card-list {
    flex-direction: column;
  }

  form {
    max-width: 100%;
  }
  form button[type='submit'] {
    min-width: 50%;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  header .title {
    display: none;
  }
}

@media (max-height: 830px) {
  div.heroContainer {
    padding-top: 64px;
    margin-top: 32px;
  }
}
