/* Background color */
$background-color-dark-2: #14161b;
$background-color-dark-1: #1e2128;
$background-color: #191b22;
$background-color-light-1: #282c37;
$background-color-light-2: #2d313d;
$background-color-light-3: #3b404f;

/* Primary color */
$primary-color: #fea554;
$primary-color-light: #ffbe5b;
$primary-color-dark: #f3953d;

/* Foreground color */
$foreground-color-1: #ffffff;
$foreground-color-2: #c1ccdc;
$foreground-color-3: #909daf;
$foreground-color-4: #636e7f;
$foreground-color-5: #505969;
$foreground-color-6: #333946;

/*----------------------------------------------------------------------------*/

/* Links */
$link: $foreground-color-1;
$link-hover: $primary-color-light;
$link-active: $primary-color-dark;

/* Fonts */
$font-size: 16px;
$font-family: 'Fira Sans', sans-serif;
$font-family-code: 'Fira Code', 'Consolas', monospace;
$font-weight: 300;
$font-weight-title: 300;
$font-weight-highlight: normal;
$line-height: 1.4em;

/* Text colors */
$text-color: $foreground-color-3;
$text-color-title: $primary-color;
$text-color-caption: $foreground-color-4;

/* Code colors */
$code-foreground-color: $foreground-color-2;
$code-background-color: $background-color-dark-1;

/* Shadows */
$elevation-0: 0px 1px 3px 0px rgba(0, 0, 0, 0.4);
$elevation-1: 0px 4px 12px 0px rgba(0, 0, 0, 0.4);
$elevation-2: 0px 6px 18px 0px rgba(0, 0, 0, 0.6);

/* Tables */
$table-border-color: $foreground-color-4;
$table-header-color: $foreground-color-5;
$table-alternate-row-color: $foreground-color-6;

/* Numeric values */
$animation-duration: 0.15s;
$border-radius: 8px;
$spacing: 16px;
$icon-size: 16px;
