audio {
  border-radius: $border-radius;
  width: 100%;
}

.audioplayer {
  background-color: $background-color-light-3;
  border-radius: $border-radius;
  box-shadow: $elevation-0;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: $spacing;
  color: unset;
  font-weight: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: box-shadow $animation-duration ease;
  align-items: center;

  .audioplayer-cover {
    .fallback {
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      background-color: $background-color-light-1;
      border-radius: $border-radius;
      margin-right: $spacing;
      overflow: hidden;
    }

    img {
      object-fit: cover;
      display: block;
      margin: 0;
      margin-right: $spacing;
      padding: 0;
      min-width: 80px;
      min-height: 80px;
      max-width: 80px;
      max-height: 80px;
      border-radius: $border-radius;
    }
  }

  .audioplayer-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }

  .audioplayer-title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: $spacing * 0.75;
    text-align: left;
  }
}
