.card {
  background-color: $background-color-light-1;
  border-radius: $border-radius;
  box-shadow: $elevation-0;
  display: flex;
  flex-direction: column;
  padding: 0;
  color: unset;
  font-weight: unset;
  overflow: hidden;
  text-overflow: ellipsis;
  transition:
    transform ($animation-duration * 2) ease,
    background-color $animation-duration ease,
    box-shadow $animation-duration ease;
  text-wrap: nowrap;

  .card-image {
    display: block;
    height: 120px;
    overflow: hidden;
    margin-bottom: $spacing;
    width: 100%;
    min-height: 120px;
    max-height: 120px;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      transition:
        transform $animation-duration ease,
        filter $animation-duration ease;
    }
  }

  .card-content {
    padding: 0 $spacing $spacing $spacing;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    gap: $spacing / 2;

    .title {
      color: $link;
      font-size: 1.25em;
      max-height: 4.25em;
      transition: color $animation-duration ease;
      text-wrap: wrap;
    }

    .date {
      color: $text-color-caption;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $spacing / 4;
    }

    .description {
      flex-grow: 1;
      margin-bottom: $spacing / 2;
      color: $text-color;
      text-wrap: wrap;
    }
  }

  &:hover,
  &:focus {
    background-color: $background-color-light-2;
    box-shadow: $elevation-1;
    transform: translateY(-4px);

    .title {
      color: $link-hover;
    }

    img {
      filter: brightness(110%);
    }
  }

  &:active {
    box-shadow: $elevation-2;

    .title {
      color: $link-active;
    }
  }
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  gap: $spacing * 2;
  margin-bottom: $spacing * 2;

  .card {
    min-height: 280px;
    max-width: calc(33.333% - 21.5px);
    min-width: calc(33.333% - 21.5px);

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
