.heroContainer {
  display: block;
  margin: auto;
  padding: $spacing;
  z-index: 1;
}

.hero {
  padding: $spacing * 2;
  display: block;
  border-radius: $border-radius * 2;
  background-color: transparentize($background-color, 0.05);
  backdrop-filter: blur(8px);
  margin: auto;
  box-shadow: $elevation-1;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  text-align: center;
  z-index: 1;
  gap: $spacing;

  img.avatar {
    width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: $elevation-0;
    display: block;
    margin-bottom: $spacing;
  }

  .title {
    font-size: 2.5em;
    color: $primary-color;
    font-weight: $font-weight-title;
    line-height: 1em;
  }

  .location {
    font-size: 1em;
    line-height: 1em;
    text-transform: uppercase;
  }

  hr {
    width: 100%;
    margin: ($spacing / 2) 0;
  }

  .preamble {
    font-size: 1.125em;
    line-height: 1.4em;
  }

  .resumeButton {
    margin-bottom: $spacing;
  }
}
