.icon {
  display: inline-block;
  line-height: 0;
  width: $icon-size;
  height: $icon-size;

  svg {
    fill: currentColor;
    height: 100%;
    width: auto;

    path {
      fill: inherit;
    }
  }
}
