.icon-button {
  display: inline-block;
  line-height: 0;

  svg {
    fill: $primary-color;
    transition: fill $animation-duration ease;

    path {
      fill: inherit;
    }
  }

  &:hover,
  &:focus {
    svg {
      fill: $primary-color-light;
    }
  }

  &:active {
    svg {
      fill: $primary-color-dark;
    }
  }
}
