.tags {
  width: 100%;
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;

    .tag {
      background-color: $background-color-dark-1;
      color: $text-color-caption;
      border-radius: $border-radius / 1.5;
      font-size: 0.75em;
      padding: ($spacing / 4) ($spacing / 2);
      font-weight: $font-weight-highlight;
      line-height: 1em;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: $spacing / 4;

      .icon {
        opacity: 0.5;
        height: $icon-size;
        width: $icon-size;
      }
    }

    a.tag {
      background-color: $foreground-color-5;
      color: $text-color;
      transition:
        background-color $animation-duration ease,
        color $animation-duration ease;
      box-shadow: none;

      &:hover,
      &:focus {
        background-color: $foreground-color-4;
        color: $link-hover;
        box-shadow: $elevation-0;
      }

      &:active {
        background-color: $foreground-color-4;
        color: $link-active;
      }
    }
  }
}
