$maxWidthPercent: 60%;
$maxHeightPercent: $maxWidthPercent * 9 / 16;

.youtube-container {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: $maxHeightPercent;
  max-width: $maxWidthPercent;
  max-height: $maxHeightPercent;
  margin: ($spacing * 2) auto;
}
