<footer>
  <div class="container">
    <div class="copyright">&copy;&nbsp;{{- .Site.Params.author -}},&#32;{{- now.Format "2006" -}}. All rights reserved.</div>
    {{- partial "components/social-networks" . -}}
  </div>
</footer>
