<!-- Get information -->
{{- $siteName := .Site.Title -}}
{{- $title := cond .IsHome .Site.Title (print .Site.Title "&nbsp;—&nbsp;" .Title) -}}
{{- $description := cond .IsHome .Site.Params.description .Params.description -}}
{{/* {{- $thumbnailResource := default (resources.Get .Site.Params.Cover) .Resources.GetMatch .Params.Thumbnail -}} */}}
{{- $thumbnailResource := resources.Get .Site.Params.Cover -}}
{{- $faviconResource := resources.Get (default "favicon.png" .Site.Params.favicon) -}}
{{- $pageFullURL := .Permalink -}}
{{- $siteColor := (default "#fea554" .Site.Params.color) | htmlEscape -}}
{{- $siteAuthor := .Site.Params.author -}}
{{- $homePageCover := .Site.Params.cover -}}


<head>
  <!-- General information -->
  <meta charset="utf-8" />
  <meta name="pinterest" content="nopin" />
  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="HandheldFriendly" content="true" />
  <link rel="canonical" href="{{- $pageFullURL -}}" />
  <meta name="theme-color" content="{{- $siteColor -}}" />
  <title>{{- $title | htmlUnescape -}}</title>
  <meta name="description" content="{{- $description -}}" />
  <meta name="color-scheme" content="dark" />
  <meta name="author" content="{{- $siteAuthor -}}" />
  <meta name="copyright" content="{{- $siteAuthor -}}" />
  <meta name="language" content="{{- .Site.Language -}}" />

  <!-- CSS -->
  {{- $cssResource := resources.Get "css/main.scss" -}}
  {{- $cssFile := $cssResource | resources.ToCSS -}}
  {{- if .Site.IsServer -}}
    <link rel="stylesheet" type="text/css" href="{{- $cssFile.RelPermalink -}}" />
  {{- else -}}
    {{- $miniCssFile := $cssFile | resources.Minify -}}
    <link rel="stylesheet" type="text/css" href="{{- $miniCssFile.RelPermalink -}}" crossorigin="anonymous" />
  {{- end -}}


  <!-- Inject background cover picture in CSS only in home page -->
  {{- if .IsHome -}}
    {{- $coverImgResource := resources.Get $homePageCover -}}
    {{- if $coverImgResource -}}
      {{- $resizedCover := $coverImgResource.Fit "1920x1920 jpg q90 Lanczos Smart" -}}
      {{- $cssCoverBgTemplate := resources.Get "/css/cover.template.css" -}}
      {{- $cssCoverBgStyle := $cssCoverBgTemplate | resources.ExecuteAsTemplate "css/cover.css" (dict "coverPath" $resizedCover.Permalink) -}}
      <link rel="stylesheet" type="text/css" href="{{- $cssCoverBgStyle.Permalink -}}" />
    {{- end -}}
  {{- end -}}


  <!-- Favicon for standard sizes -->
  {{- range $size := (slice "16" "32" "64" "128" "256") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="icon" type="image/png" sizes="{{ $iconSize }}" href="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Favicon for iOS devies -->
  {{- range $size := (slice "120" "152" "167" "180") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="apple-touch-icon" sizes="{{ $iconSize }}" ref="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Favicon for Android devices -->
  {{- range $size := (slice "196") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <link rel="shortcut icon" sizes="{{ $iconSize }}" href="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}


  <!-- Favicon for Microsoft devices -->
  <meta name="msapplication-TileColor" content="{{ $siteColor }}" />
  {{- range $size := (slice "70" "150") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $iconName := (print "msapplication-square" $size "x" $size "logo") -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <meta name="{{ $iconName }}" content="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}
  {{- range $size := (slice "270") -}}
    {{- $iconSize := (print $size "x" $size) -}}
    {{- $resizedImage := $faviconResource.Fit (print $iconSize " png") -}}
    <meta name="msapplication-TileImage" content="{{ $resizedImage.RelPermalink }}" />
  {{- end -}}
  <meta name="msapplication-config" content="none" />

  <!-- Facebook OpenGraph -->

  {{- $facebookThumbnail := $thumbnailResource.Fit "1200x630 jpg q90 Lanczos Smart" -}}
  <meta property="og:locale" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{- $title | safeHTML -}}" />
  <meta property="og:description" content="{{- $description | safeHTML -}}" />
  <meta property="og:url" content="{{- $pageFullURL -}}" />
  <meta property="og:site_name" content="{{- $siteName | safeHTML -}}" />
  <meta property="og:image" content="{{- $facebookThumbnail.Permalink -}}" />
  <meta property="og:image:width" content="{{- $facebookThumbnail.Width -}}" />
  <meta property="og:image:height" content="{{- $facebookThumbnail.Height -}}" />
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:alt" content="Page thumbnail" />

  <!-- Twitter -->
  <meta name="twitter:title" content="{{- $title -}}" />
  <meta name="twitter:description" content="{{- $description -}}" />
  {{- $twitterThumbnail := $thumbnailResource.Fit "1200x600 jpg q90 Lanczos Smart" -}}
  {{ with .Site.Params.twitter -}}
    <meta name="twitter:site" content="@{{ . }}" />
  {{ end -}}
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:image" content="{{ $twitterThumbnail.Permalink }}" />

  <!-- JS -->
  {{- $jsNavBar := resources.Get "js/navbar.js" -}}
  {{- if .Site.IsServer -}}
    <script src="{{- $jsNavBar.RelPermalink -}}" defer></script>
  {{- else -}}
    <!-- Bundle everything in only one file -->
    {{- $allJsFiles := slice
      $jsNavBar
    -}}
    {{- $jsResource := $allJsFiles | resources.Concat "js/main.js" | js.Build -}}
    {{- $jsFile := $jsResource | resources.Minify -}}
    {{ $secureJsResource := $jsFile | resources.Fingerprint "sha512" }}
    <script src="{{- $secureJsResource.RelPermalink -}}" integrity="{{ $secureJsResource.Data.Integrity }}" defer></script>
  {{- end -}}

</head>
