<header>
  <div class="container">
    <a class="avatar" href="/">
      {{- partial "components/image" (dict "path" $.Site.Params.Avatar "fit" "64x64 jpg q50 Lanczos Smart") -}}
    </a>
    <a href="/" class="title">{{- $.Site.Title -}}</a>
    {{- partial "components/navbar" . -}}
  </div>
</header>
