{{- $path := .Get 0 | safeHTML | htmlEscape -}}
{{- $title := .Get 1 | safeHTML -}}
{{- $imagePath := .Get 2 | safeHTML | htmlEscape -}}

{{- if $path -}}
  {{- $resource := resources.Get $path -}}

  {{- if not $resource -}}
    {{- $resource = .Page.Resources.GetMatch $path -}}
  {{- end -}}

  {{- if $resource -}}
    <div class="audioplayer">
      <div class="audioplayer-cover">
        {{- if $imagePath -}}
          {{- $imageResource := resources.Get $imagePath -}}
          {{- if not $imageResource -}}
            {{- $imageResource = .Page.Resources.GetMatch $imagePath -}}
          {{- end -}}
          {{- if $imageResource -}}
            {{- $resizedImage := $imageResource.Fit "160x160 q75 Lanczos Smart" -}}
            <img src="{{- $resizedImage.Permalink -}}" />
          {{- end -}}
        {{- end -}}

      </div>
      <div class="audioplayer-content">
        {{- if $title -}}
          <div class="audioplayer-title">{{- $title -}}</div>
        {{- end -}}
        <audio controls preload="none">
          <source src="{{- $resource.Permalink -}}" type="audio/mp3" />
          <p>Your browser doesn't support audio. Here is <a href="{{- $resource.Permalink -}}">a link</a> to download the file.</p>
        </audio>
      </div>
    </div>
  {{- end -}}
{{- end -}}
