<form id="contact-form" class="hidden" action="#" method="POST" accept-charset="UTF-8">
  <div id="contact-form-server-success" class="feedback success hidden">
    {{- partial "components/icon" "success" -}}
    <div class="text">Message sent!</div>
  </div>
  <div id="contact-form-server-error" class="feedback error hidden">
    {{- partial "components/icon" "error" -}}
    <div class="text">Error</div>
  </div>

  <div class="group">
    <label id="name-label" for="name-input">Name</label>
    {{- "" -}}
    <input id="name-input" type="text" name="name" placeholder="Name" spellcheck="false" required autofocus />
    {{- "" -}}
  </div>

  <div class="group">
    <label id="email-label" for="email-input">Email</label>
    {{- "" -}}
    <input id="email-input" type="email" name="email" placeholder="email@domain.com" spellcheck="false" required />
    {{- "" -}}
  </div>

  <div class="group">
    <label id="subject-label" for="subject-input">Subject</label>
    {{- "" -}}
    <input id="subject-input" type="text" name="subject" placeholder="Hello" spellcheck="true" required />
    {{- "" -}}
  </div>

  {{/* Honeypot for spam-bots */}}
  <div class="group hidden">
    <label id="url-label" for="url-input">Url</label>
    {{- "" -}}
    <input id="url-input" type="text" name="url" placeholder="Url" spellcheck="true" />
    {{- "" -}}
  </div>

  <div class="group">
    <label id="message-label" for="message-input">Message</label>
    {{- "" -}}
    <textarea id="message-input" name="message" placeholder="Message" spellcheck="true" required></textarea>
    {{- "" -}}
  </div>

  {{- $filePath := print "themes/supersonic/static/img/icons/send.svg" -}}
  <button disabled id="contact-form-submit" type="submit" value="truc" class="button right">
    <div class="text">Send</div>
    <div class="icon">{{- readFile $filePath | safeHTML -}}</div>
  </button>
</form>
